*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$familyh1: 'Oswald';
$familyh2: 'Be Vietnam Pro';
$familyh4: 'Staatliches';

nav{
    position: absolute;
    width: 100%;
    
    a{
        color: white;
        text-decoration: none;
    }

    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-end;
        
        li{
            text-decoration: none;
            margin: 0 20px;
            font-size: 20px;
            padding: 20px 15px;
            font-family: 'Quicksand', sans-serif;
            color: white;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;

            :hover{
                color: #0C5D7B;
                font-weight: bold;
            }
        }
    }
}

.section-1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FA8543;

    h2{
        font-family: $familyh2;
        font-size: 35px;
        color: white;
    }
    h1{
        font-family: $familyh1;
        font-size: 105px;
        letter-spacing: 25px;
        color: white;
    }
}

.section-2{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3{
        font-size: 3em;
        margin-bottom: 20px;
        font-family: $familyh4;
        font-weight: 1;
    }

    .contenedor{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

        .helado-1{
            display: flex;
            flex-direction: column;
            width: 26%;

            .imagen{
                width: 100%;
                height: 50%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .texto{
                padding: 0 10px;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;

                h4{
                    font-size: 25px;
                    font-family: $familyh4;
                    font-weight: 1;
                    margin-top: -15px;
                }

                p{
                    font-size: 14px;
                    font-family: cursive;
                }
                
                .precio{
                    font-size: 20px;
                    font-family: $familyh4;
                }
            }
        }

        .helado-2{
            display: flex;
            flex-direction: column;
            width: 26%;

            .imagen{
                width: 100%;
                height: 50%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .texto{
                padding: 0 10px;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;

                h4{
                    font-size: 25px;
                    font-family: $familyh4;
                    font-weight: 1;
                    margin-top: -15px;
                }

                p{
                    font-size: 14px;
                    font-family: cursive;
                }
                
                .precio{
                    font-size: 20px;
                    font-family: $familyh4;
                }
            }
        }

        .helado-3{
            display: flex;
            flex-direction: column;
            width: 26%;

            .imagen{
                width: 100%;
                height: 50%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .texto{
                padding: 0 10px;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;

                h4{
                    font-size: 25px;
                    font-family: $familyh4;
                    font-weight: 1;
                    margin-top: -15px;
                }

                p{
                    font-size: 14px;
                    font-family: cursive;
                }
                
                .precio{
                    font-size: 20px;
                    font-family: $familyh4;
                }
            }
        }
    }  
}

.section-3{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3{
        font-size: 3em;
        margin-bottom: 20px;
        font-family: $familyh4;
        font-weight: 1;
    }

    .contenedor{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

        .helado-1{
            display: flex;
            flex-direction: column;
            width: 26%;

            .imagen{
                width: 100%;
                height: 50%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .texto{
                padding: 0 10px;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;

                h4{
                    font-size: 25px;
                    font-family: $familyh4;
                    font-weight: 1;
                    margin-top: -15px;
                }

                p{
                    font-size: 14px;
                    font-family: cursive;
                }
                
                .precio{
                    font-size: 20px;
                    font-family: $familyh4;
                }
            }
        }

        .helado-2{
            display: flex;
            flex-direction: column;
            width: 26%;

            .imagen{
                width: 100%;
                height: 50%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .texto{
                padding: 0 10px;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;

                h4{
                    font-size: 25px;
                    font-family: $familyh4;
                    font-weight: 1;
                    margin-top: -15px;
                }

                p{
                    font-size: 14px;
                    font-family: cursive;
                }
                
                .precio{
                    font-size: 20px;
                    font-family: $familyh4;
                }
            }
        }

        .helado-3{
            display: flex;
            flex-direction: column;
            width: 26%;

            .imagen{
                width: 100%;
                height: 50%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .texto{
                padding: 0 10px;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;

                h4{
                    font-size: 25px;
                    font-family: $familyh4;
                    font-weight: 1;
                    margin-top: -15px;
                }

                p{
                    font-size: 14px;
                    font-family: cursive;
                }
                
                .precio{
                    font-size: 20px;
                    font-family: $familyh4;
                }
            }
        }
    }  
}

.section-4{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3{
        font-size: 3em;
        margin-bottom: 20px;
        font-family: $familyh4;
        font-weight: 1;
    }

    .contenedor{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

        .helado-1{
            display: flex;
            flex-direction: column;
            width: 26%;

            .imagen{
                width: 100%;
                height: 50%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .texto{
                padding: 0 10px;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;

                h4{
                    font-size: 25px;
                    font-family: $familyh4;
                    font-weight: 1;
                    margin-top: -15px;
                }

                p{
                    font-size: 14px;
                    font-family: cursive;
                }
                
                .precio{
                    font-size: 20px;
                    font-family: $familyh4;
                }
            }
        }

        .helado-2{
            display: flex;
            flex-direction: column;
            width: 26%;

            .imagen{
                width: 100%;
                height: 50%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .texto{
                padding: 0 10px;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;

                h4{
                    font-size: 25px;
                    font-family: $familyh4;
                    font-weight: 1;
                    margin-top: -15px;
                }

                p{
                    font-size: 14px;
                    font-family: cursive;
                }
                
                .precio{
                    font-size: 20px;
                    font-family: $familyh4;
                }
            }
        }

        .helado-3{
            display: flex;
            flex-direction: column;
            width: 26%;

            .imagen{
                width: 100%;
                height: 50%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .texto{
                padding: 0 10px;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;

                h4{
                    font-size: 25px;
                    font-family: $familyh4;
                    font-weight: 1;
                    margin-top: -15px;
                }

                p{
                    font-size: 14px;
                    font-family: cursive;
                }
                
                .precio{
                    font-size: 20px;
                    font-family: $familyh4;
                }
            }
        }
    }  
}